<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title name="title">{{title}}</title>
    <link rel="stylesheet" href="/public/main_styles.css">
</head>
<body>
    <h1 name="Subjh1">{{Subjh1}}</h1>
    <main>
        {{{body}}}
    </main>
    <footer>
        <a href="http://localhost:3000/">Make another search</a>
    </footer>
</body>
</html>