{{!-- <section> --}}
<form id="signup-form" action="/login" method="post">
  <label for="username">Username: </label>
  <input id="username" name="username" type="text" placeholder="Enter Username" value="{{username}}">
  <br>
  <label for="password">Password: </label>
  <input id="password" name="password" type="password" placeholder="Enter Password"   value="{{password}}">
  <br>
    {{#if hasError}}
        <p class="error"> {{message}} </p>
    {{/if}}
  <br>
  <button type="submit" class="button">Submit</button>
  <br><br>
  <a href="/signup">Need to register? Click here to sign-up</a>
  <br>
</form>
{{!-- </section> --}}
