<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Numbers</title>
    <link rel="stylesheet" href="/public/main.css">
</head>
<body>
    
    <header>
        <h1>Prime Numbers</h1>
    </header>

    <main class="container">
        <div class="row">

                {{{body}}}
            
        </div>
        <ul id = "attempts"></ul>
    </main>

    <footer class="footer">
    <p>Sai Vignesh Golla. CWID: 20009107.</p>
    <p>If you're reading this. Big Cheers to you! I hope you find them all!</p>
    <!--  {1/2}
                __
                \ \
                | |_____
            __ /   (____|
                    (____|
                   (____|
            _____ (____|
    -->              
  </footer>
  <script src="/public/js/form.js"></script>
</body>
</html>